<!DOCTYPE html>
<html lang="en">
<head> 
  <%- include('partials/meta.ejs') %> 
  <title>Request</title>
</head>
<body>
  <%- include('partials/nav.ejs') %>
  <main>
    <div class="thankyouimage">
      <img src="/images/room.jpg" alt="Home">
    <h1>Thank You!</h1>
    <h2>The request has been successfully deleted</h2>    
    </div>
  </main>
  
  <%- include('partials/footer.ejs') %> 
</body>
</html>